* {
	margin: 0px;
	padding: 0px;
}
html {
    height: 100%;
}
a {
    text-decoration: none;
    color: black;
}
/*ie9*/
.ie9 img[src*=".svg"] {
  width: 100%; 
}
/*ie10+*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 60%; 
  }
}
.header {
	position: fixed;
	width: 100%;
	height: 75px;
	border-bottom: 1px solid #BBBBBB;
	background-color: #F9F9F9;
	box-shadow: 0px -5px 15px 1px black;
	min-width: 980px;
	overflow: hidden;
	z-index: 100;
}
.siteButtonDiv {
	display: inline-block;
	float: left;
	height: 60px;
	vertical-align: center;
	visibility: hidden;
}
.siteButton{
	margin: 4px;
	margin-left: 10px;
	background-color: #F9F9F9;
	width: 50px;
}
.siteButton:hover {
	background-color: #F2F2F2;
}
.headerLogo {
	display: inline-block;
	float: left;
	margin: 11px;
	width: 60px;
	height: auto;
	padding-left: 75px;
	padding-right: 25px;
	/*25px margin on right*/
}
.button {
	position: relative;
	display: inline-block;
	float: left;
	height: 48px;
	width: auto;
	background-color: #F9F9F9;
	margin-left: 25px;
	text-align: center;
	padding-top: 27px;
	color: black;
    transition: background-color 0.1s ease-in;
	padding-left: 25px;
	padding-right: 25px;
}
.button:hover {
	background-color: #F2F2F2;
}
.focus {
	position: absolute;
	left: 0;
	bottom: 0px;
	display: block;
	width: 100%;
	height: 4px;
	background-color: #42B426;
}
.headerContact {
	display: inline-block;
	float: right;
	width: auto;
	height: 100%;
	margin-right: 87px;
	overflow: hidden;
	-webkit-perspective: 150;
	-webkit-transform-style: preserve-3d;
}
.headerPhoto {
	display: inline-block;
	float: left;
	background-repeat: no-repeat;
	background-position: -5px;
	background-color: #541a1d;
	background-image: url("./picture.jpg");
	background-size: 60px, 60px;
	border-radius: 50%;
	margin: 7px;
	width: 60px;
	height: 60px;
	overflow: hidden;
	opacity: 0;
	-webkit-animation: bounce-in .75s ease-in 1s forwards;
	
}
@-webkit-keyframes bounce-in {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-5em, 0em, -30em);
		-webkit-transform: rotateY(360)
	}
	50% {
		-webkit-transform: translate3d(.6em, 0em, 1em);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0em, 0em, 0em);
		-webkit-transform: rotateY(0);
	}
}
.headerInfo {
	display: inline-block;
	float: left;
	width: auto;
	max-height: 75px;
	overflow: hidden;
	padding-top: 8px;
	padding-left: 10px;
	overflow: hidden;
	-webkit-animation: fall-in .5s cubic-bezier(.5,.02,.5,.98) 1s forwards;
	opacity: 0;
}
@-webkit-keyframes fall-in {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-5em);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0em);
	}
}
@-webkit-keyframes fall-out {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0em);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(5em);
	}
}
.fallout {
    -webkit-animation: fall-out .5s cubic-bezier(.5,.02,.5,.98) forwards;
}
.fallin {
    -webkit-animation: fall-in .5s cubic-bezier(.5,.02,.5,.98) forwards;
}
#aboutPhoto {
	position: absolute;
	background-size: 120px, 120px; 
	left: 50%;
	width: 120px; 
	height: 120px; 
	margin-right: auto; 
	margin-left: -60px;
	box-shadow: 0px 2px 5px 0px #333333;
}
/*MAIN BODY UNDER HEADER*/
body {
	background-color: #F0F0F0;
}
.main {
	display: inline-block;
	width: 100%;
	height: auto;
	background-color: #F0F0F0;
	margin-top: 75px;
	padding: 0px;
	min-width: 980px;
}
.mainCol {
	position: relative;
	width: 80%;
	height: 100%;
	padding-bottom: 75px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 1px solid #BBBBBB;
	border-top: 0px;
	min-height: 750px;
}
.topText {
	padding: 40px;
	padding-bottom: 0px;
}
/*PortBox Area*/
.portBoxCol {
	position: absolute;
	top: 120px;
	left: 0px;
	display: inline-block;
	width: 10%;
	max-height: 700px;	
}
.bodyCol {
	width: 100%;
	min-height: 100px;
	-webkit-perspective: 10000px;
}
.portBox {
	position: relative;
	display: inline-block;
	width: 100%;
	height: auto;
	box-shadow: 1px 0px 5px #AAAAAA;
	border: 1px #BBBBBB;
	margin-bottom: 30px;
	overflow: hidden;
}
.portBoxAfter {
	position: absolute;
	bottom: 0px;
	display: block;
	width: 100%;
	height: 4px;
	background-color: #42B426;
	z-index: 1;
	-webkit-animation: fade-left .3s ease-in-out forwards;
	animation: fade-left .3s ease-in-out forwards;
}
@-webkit-keyframes fade-left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(10em);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0em);
	}
}
.portSVG {
	display: inline;
	width: auto;
	height: auto;
	margin: 20%;
	-webkit-transform-style: preserve-3d;
}
.portSVG:hover{
	-webkit-animation: angle .1s cubic-bezier(.17,.67,.83,.67) forwards;
}
@-webkit-keyframes angle {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(10deg);
	}
}
/*previewBox Area*/
.selectionCol {
    position: absolute;
    top: 0px;
    display: inline-block;
    min-height: 100%;
    width: 19%;
    background-color: #F8F8F8;
    border-right: 1px solid #D2D2D2;
    z-index: 10;
}
.selectionBox {
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #F8F8F8;
    overflow: hidden;
}
div.selectionButton, div.selectionHeader {
    margin: 0px;
    padding: 10px;
}
.top:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibily: hidden;
}
div.selectionButton:hover {
    -webkit-animation: move-right .1s cubic-bezier(.17,.67,.83,.67) forwards;
}
@-webkit-keyframes move-right {
    0% {
        -webkit-transform: translateX(0em);
    }
    100% {
        -webkit-transform: translateX(1em);
    }
}
div.selectionHeader {
    text-align: center;
    font-weight: 600;
    background-color: #E2E2E2;
    border-bottom: 1px solid #D2D2D2;
}
.idAnchor:before {
    display: block;
    margin-top: -100px;
    height: 100px;
    content: " ";
    visibility: hidden;
}
#contentBox {
    display: inline-block;
    width: 80%;
    margin-left: 20%;
}
.previewBoxCol {
	position: relative;
	right: 0px;
	top: 0px;
	display: inline-block;
	margin-left: calc(10% + 10px);
	width: 88%;
	z-index: 10;
    height: 100%;
}
.previewBox {
	display: inline-block;
	right: 30px;
	width: 100%;
	min-height: 700px;
    height: 1000px;
	box-shadow: 1px 0px 5px #AAAAAA;
	border: 1px #BBBBBB;
	margin-top: 00px;
}
@-webkit-keyframes height-pulldown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-10%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
/*Work in progress*/
#WIP {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 20;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-top: 0px;
    width: 130px;
    text-align: center;
}
/*FONTS AND HEADERS*/
h1 {
    font-family: "clarendon-text-pro", serif;
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 400;
}
.button {
	font-family: "adelle-sans";
}
.headerInfo {
	line-height: 120%;
	font-size: 90%;
	font-family: "adelle-sans",sans-serif;
}
p {
	font-family: "adobe-text-pro", sans-serif;
	text-indent: 50px;
	font-size: 18px;
	margin-left: 25px;
	margin-bottom: 10px;
}
.green {
	color: #42B426;
}
#WIP {
    font-family: "adelle-sans";
}